################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
.vs/
*.user
*.suo
*.cache

https://youtu.be/dQw4w9WgXcQ?si=rwuyKxWfpy7oPZqo